@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-slate-800 min-h-screen m-0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
}
